[build-system]
requires = ["scikit-build-core", "numpy", "scipy_openblas32"]
build-backend = "scikit_build_core.build"

[project]
name = "f77ex"
version = "0.0.1"
dependencies = ["numpy"]

[tool.scikit-build]
ninja.version = ">=1.10"
cmake.version = ">=3.17.2"